html {
    height: 100%;
    width: 100%;
    background-color: lightcoral;
  }
  .button{
    background-color:  lemonchiffon;
    padding: 12px;
    margin:0 3px ;
    border:2px solid black;
    border-radius: 9px ;
    cursor: pointer;
  }
  #zeroButton {
    background-color:blueviolet; 
  }
  #equalButton {
    background-color:blueviolet; 
  }
  .row{
    margin: 15px 0px;
  }
  .input{
    background-color: lightblue;
    font-size: 13px;
    padding:5px;
    margin:0;
    border:2px solid black;
    border-radius: 9px ;
  }
  